.container {
    margin-top: 40px
}

.heading h1 {
    font-size: 70px;
    font-weight: 500;
    line-height: 84px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 40px;
}

.company-history {
    display: flex;
    justify-content: space-between;
}

.company-history .aboutUs-img img {
    width: 648px;
    height: 412px;
}

.company-history .aboutUs-text {
    margin-left: 50px;
}

.company-history .aboutUs-text h6 {
    font-size: 11px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(156, 150, 150);
}

.company-history .aboutUs-text h3 {
    font-size: 56px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}

.company-history .aboutUs-text p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}


/* Mission and visiion------------ */

.mission-and-vision {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.mission-and-vision .mission-img img {
    width: 648px;
    height: 412px;
    margin-left: 40px;
}

.mission-and-vision .mission-text {
    margin-left: 50px;
}

.mission-and-vision .mission-text h6 {
    font-size: 11px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(156, 150, 150);
}

.mission-and-vision .mission-text h3 {
    font-size: 56px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}

.mission-and-vision .mission-text p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}


/*------------------- About Team ---------------*/

.our-team {
    margin-top: 150px;

}

.our-team .team-dis {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 660px;
    height: 170px;
    margin-left: 360px;
}

.our-team .team-dis h3 {
    font-size: 56px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.our-team .team-dis p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.our-team .row {
    margin-left: 100px;
    margin-top: 50px;
}

.our-team .row .column {
    text-align: center;
    margin-top: 50px;

}

.our-team .row .column h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 29px;
    margin-top: 20px;
    color: #212529;
    font-family: 'Times New Roman', Times, serif;
}

.our-team .row .column h6 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
    margin-top: 20px;
    color: #212529;
    font-family: 'Times New Roman', Times, serif;
}

.our-team .row .column p {
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
    color: #212529;
    font-family: 'Times New Roman', Times, serif;
}



@media (max-width: 768px) {

    /* Company History */
    .company-history {
        flex-direction: column;
        align-items: center;
    }

    .company-history .aboutUs-img img {
        width: 110%;
        /* Make the image responsive */
        height: auto;
        margin-bottom: 20px;
    }

    /* Mission and Vision */
    .mission-and-vision {
        flex-direction: column;
        align-items: center;
    }

    .mission-and-vision .mission-img img {
        width: 100%;
        /* Make the image responsive */
        height: auto;
        margin-left: 0;
        margin-bottom: 20px;
    }

    /* Our Team */
    .our-team .team-dis {
        width: 100%;
        margin-left: 0;
    }


    .our-team .row {
        margin-left: 0;
        /* Remove left margin */
        margin-top: 20px;
        /* Adjust top margin */
    }

    .our-team .row .column {
        width: 100%;
        /* Make each column full width */
        margin-top: 20px;
        /* Add space between columns */
    }
}